<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>댓글 작성 페이지</title>
  </head>

  <body>
    <h1> 댓글 작성 </h1>
    <hr />
    <div>
      <form action="/createComment/:id" method="POST">
      <div>
        <label> 내용: </label>
        <textarea
        id="text"
        name="text"
        value=""
        rows="3"
        required
        >
        </textarea>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
