<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 작성</title>
  </head>

  <body>
    <h1>게시글 작성 페이지</h1>
    <hr />
    <div>
      <form action="/createPost" method="POST" enctype="multipart/form-data">
        <div>
          <label for="title">제목</label>
          <input
            type="text"
            id="title"
            placeholder="title"
            value=""
            name="title"
            required
          />
        </div>
        <div>
          <label for="desc">내용</label>
          <textarea
            id="desc"
            name="desc"
            value=""
            rows="3"
            placeholder="Description"
            required
          >
          </textarea>
        </div>
        <div>
          <label for="image">이미지 업로드</label>
          <input type="file" id="image" name="image" value="" />
        </div>
        <div>
          <label for="image">파일 업로드</label>
          <input type="file" id="file" name="file" value="" />
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>

    <hr />

    <h1>게시글 목록</h1>
    <div>
      <% items.forEach(function(data) { %>

      <div style="display: inline-block">
        <% if(data.img) { %>
        <img
          src="data:data/<%=data.img.contentType%>;base64,
                     <%=data.img.data.toString('base64')%>"
          width="200px"
          height="200px"
        />
        <% }%>
        <div>
          <h5>제목 : <%= data.title %></h5>
          <p>내용 : <%= data.desc %></p>
        </div>
      </div>

      <% }) %>
    </div>
  </body>
</html>
