<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>댓글 작성 페이지</title>
  </head>

  <body>
    <h1> 댓글 작성 </h1>
    <hr />
    <div>
<<<<<<< HEAD
      <form action="/createComment/:id" method="POST">
=======
      <form action="/createComment/<%=item.id %>" method="POST">
>>>>>>> de81b9b7f9662af164e1ab1f927166e1fd6eeed0
      <div>
        <label> 내용: </label>
        <textarea
        id="text"
<<<<<<< HEAD
        name="text"
        value=""
        rows="3"
        required
=======
        name="comment"
        value=""
        rows="2"
>>>>>>> de81b9b7f9662af164e1ab1f927166e1fd6eeed0
        >
        </textarea>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> de81b9b7f9662af164e1ab1f927166e1fd6eeed0
