<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>댓글 작성 페이지</title>
  </head>

  <body>
    <h1> 댓글 수정 </h1>
    <hr />
    <div>
      <form action="/board/<%=item.id %>/updateComment/" method="POST">
      <div>
        <label> 내용: </label>
        <input
        id="text"
        name="comment"
        value="<%= item.text %>"
        rows="3"
        >
        </input>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
